body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.container {
  color: white;
  padding: 20px;
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 40px 140px;
  display: flex;
  flex-direction: row;
  gap:20px;
  height: 500px;
}

.container h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  padding: 40px 20px;
  width: 40%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-weight: 400;
}
.form-group input {
  border-radius: 5px;
  margin-bottom: 30px;
}

.form-group textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}
.form-group select {
  margin-bottom: 30px;
}
.form-group button {
  width: 150px;
  padding: 12px;
  border-radius: 24px;
  color: #fff;
  font-size: large;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 30px;
}
.generator {
  border: 1px solid #fff;
  background: transparent;
}
.generator:hover {
  background-color: #fff;
  color: #000;
}

.output-box {
  width: 90%;
  height: 90%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  }
